
<table class="admin_tbl">
  <thead class="admin_thead">
    <th>Name</th>
    <th>Number</th>
    <th>Email</th>
    <th>Ledger</th>
    <th></th>
  </thead>
  <% n = 1 %>
  <% for a in applicants %>
    <tr class="admin_row <%= if(n.even?); "even_row"; else; "odd_row"; end %>">
      <td>
        <%= a['name'] %>
      </td>
      <td>
        <%= a['number'] %>
      </td>
      <td>
        <%= a['email'] %>
      </td>
      <td>
        <%= a['ledger'] %>
      </td>
      <td>
        <a href="#" id="approve">&#x2713;</a>
        <a href="#" id="deny">x</a>
      </td>
    </tr>
  <% end %>
</table>
